@import "../../config/styles";

.heading {
    padding: 0 $padding-lr 0 $padding-lr;
    width: calc(100% - 2*$padding-lr);
    height: auto;
    margin: 12px 0 10px 0;
    text-align: left;

    h1,h2,h3 {
        margin: 0;
    }

    &1{
        font-size: 36px;
    }
    &2{
        font-size: 28px;
    }
    &3{
        font-size: 20px;
    }

    &.center {
        @extend .flex-center-inside;
        text-align: center;
    }
}
