@import "../../config/styles";

.card {
  box-shadow: 0px 0px 35px rgba(2, 2, 2, 0.18);
  background: #FFFFFF;
  width: 400px;
  margin: 15px 15px 0 15px;
  height: auto;
  overflow: visible;
  padding: 5px 0 5px 0;

  &-small {
		width: 300px;
	}

	&-medium {
		width: 400px;
  }

  &-large {
		width: 600px;
  }
  
}
